/* Testimonials.css */

.testimonials {
  text-align: center;
  padding: 20px;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial-item {
  padding: 20px;
  padding-top: 0;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center items horizontally */
  text-align: center;
}

.comment {
  font-size: 16px;
  margin-bottom: 10px;
}

.user-info {
  font-size: 14px;
}

.user-name {
  margin-right: 10px;
  font-weight: bold;
}

.user-rating {
  color: #f39c12;
  margin-top: 10px; /* Add margin to separate from the comment */
}

.carousel .control-dots .dot {
  background-color: #f39c12;
}

.carousel .thumbs-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .testimonials {
    width: 100%;
  }

  .testimonials h2 {
    font-size: 24px;
  }

  .comment {
    font-size: 14px;
  }
}
