/* ContactUs.css */

.contact-us {
  padding: 50px 0;
}

.contact-info {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info-item p {
  margin: 0;
}

.info-item svg {
  font-size: 24px;
  margin-right: 10px;
  color: #007bff; /* Icon color */
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form form {
  padding: 20px;
  border-radius: 8px;
  padding-left: 0;
}

.form-group label {
  font-weight: bold;
}

.form-group>.form-control {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

textarea.form-control {
  resize: vertical;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-info,
  .contact-form {
    margin-top: 0;
  }

  .contact-cont {
    margin-top: 20px;
  }

  .contact-form h3 {
    font-size: 20px !important;
  }

  .contact-cont h2 {
    font-size: 24px !important;
  }
}
