/* ContactUs.css */
.contactus-header {
  background-color: orange; /* Header background color */
  color: #fff; /* Header text color */
  padding-bottom: 0.5rem; /* Header padding */
  text-align: center; /* Center align text */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.contactus-title {
  font-size: 2rem; /* Header title font size */
}

.contact-info {
  padding-right: 10px;
  text-align: justify;
  hyphens: auto;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info-item p {
  margin: 0;
}

.info-item svg {
  font-size: 24px;
  margin-right: 10px;
  color: #007bff; /* Icon color */
}

.info-item a {
  color: #333;
  text-decoration: none;
}

.info-item a:hover {
  color: orange;
  transition: color 0.3s;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form form {
  padding: 20px;
  border-radius: 8px;
  padding-left: 0;
}

.form-group label {
  font-weight: bold;
}

.form-group > .form-control {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

textarea.form-control {
  resize: vertical;
}

.margin-btm {
  margin-bottom: 2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-info,
  .contact-form {
    margin-top: 0;
  }

  .contact-cont {
    margin-top: 20px;
  }

  .contact-form h3 {
    font-size: 20px !important;
  }

  .contactus-title {
    font-size: 24px;
  }
}
